/* frontend/style.css */

body { 
    font-family: sans-serif; 
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
    padding: 20px; 
}
div { 
    border: 1px solid #ccc; 
    padding: 20px; 
    border-radius: 8px; 
}
h2 { margin-top: 0; }
input { 
    width: 100%; 
    box-sizing: border-box; 
    margin-bottom: 10px; 
    padding: 8px; 
}
button { 
    padding: 10px 15px; 
    background-color: #007bff; 
    color: white; 
    border: none; 
    cursor: pointer; 
}
/* A <pre> é a caixa de resultado */
pre { 
    background-color: #f4f4f4; 
    padding: 10px; 
    border-radius: 4px; 
    white-space: pre-wrap; 
    word-wrap: break-word; 
}

/* Remove estilo padrão da lista */
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.cabecalho {
    display: flex;
    justify-content: space-between; /* separa logo e menu */
    align-items: center;
    padding: 15px 30px;
    background-color: #222;
    color: white;
}

.menu {
    display: flex;
    gap: 20px; /* espaçamento entre os itens */
}

.menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.menu a:hover {
    text-decoration: underline;
}
